@font-face {
  font-family: BMA;
  src: local(BMHANNAAir),
       url(BMHANNAAir.ttf) format('truetype'),
       url(BMHANNAAir.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: BM;
  src: local(BMHANNA_11yrs),
       url(BMHANNA_11yrs.ttf) format('truetype'),
       url(BMHANNA_11yrs.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}
